<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>UserDataDTO</servlet-name>
        <servlet-class>UserDataDTO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDataDAO</servlet-name>
        <servlet-class>UserDataDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserData</servlet-name>
        <servlet-class>UserData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>log</servlet-name>
        <servlet-class>log</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SampleAPI</servlet-name>
        <servlet-class>SampleAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YahooAPI</servlet-name>
        <servlet-class>YahooAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDataDTO</servlet-name>
        <url-pattern>/UserDataDTO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDataDAO</servlet-name>
        <url-pattern>/UserDataDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserData</servlet-name>
        <url-pattern>/UserData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>log</servlet-name>
        <url-pattern>/log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SampleAPI</servlet-name>
        <url-pattern>/SampleAPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YahooAPI</servlet-name>
        <url-pattern>/YahooAPI</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
