<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DB_Search</servlet-name>
        <servlet-class>DB_Manage.DB_Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DB_Search_Result</servlet-name>
        <servlet-class>DB_Manage.DB_Search_Result</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_category_mens</servlet-name>
        <servlet-class>Search_Category_Case.Search_category_mens</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_category_ladys</servlet-name>
        <servlet-class>Search_Category_Case.Search_category_ladys</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_category_functionality</servlet-name>
        <servlet-class>Search_Category_Case.Search_category_functionality</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_category_water</servlet-name>
        <servlet-class>Search_Category_Case.Search_category_water</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_category_protect</servlet-name>
        <servlet-class>Search_Category_Case.Search_category_protect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_category_apparel</servlet-name>
        <servlet-class>Search_Category_Case.Search_category_apparel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_category_designer</servlet-name>
        <servlet-class>Search_Category_Case.Search_category_designer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_category_character</servlet-name>
        <servlet-class>Search_Category_Case.Search_category_character</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_category_koukoutaku</servlet-name>
        <servlet-class>Search_Category_Sheet.Search_category_koukoutaku</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_category_antigurea</servlet-name>
        <servlet-class>Search_Category_Sheet.Search_category_antigurea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_category_glass</servlet-name>
        <servlet-class>Search_Category_Sheet.Search_category_glass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_category_case_price</servlet-name>
        <servlet-class>Search_Category_Case.Search_category_case_price</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_category_sheet_price</servlet-name>
        <servlet-class>Search_Category_Sheet.Search_category_sheet_price</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Icon_detail</servlet-name>
        <servlet-class>Origin_Site.Icon_detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Item_price</servlet-name>
        <servlet-class>Origin_Site.Item_price</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DB_Search</servlet-name>
        <url-pattern>/DB_Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DB_Search_Result</servlet-name>
        <url-pattern>/DB_Search_Result</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Add</servlet-name>
        <servlet-class>Origin_Site.Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyComplete</servlet-name>
        <servlet-class>Origin_Site.BuyComplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyConfirm</servlet-name>
        <servlet-class>Origin_Site.BuyConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>Origin_Site.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Item</servlet-name>
        <servlet-class>Origin_Site.Item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Origin_Site.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyData</servlet-name>
        <servlet-class>Origin_Site.MyData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyUpdate</servlet-name>
        <servlet-class>Origin_Site.MyUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyDelete</servlet-name>
        <servlet-class>Origin_Site.MyDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyDeleteResult</servlet-name>
        <servlet-class>Origin_Site.MyDeleteResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyHistory</servlet-name>
        <servlet-class>Origin_Site.MyHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyUpdateResult</servlet-name>
        <servlet-class>Origin_Site.MyUpdateResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>Origin_Site.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationComplete</servlet-name>
        <servlet-class>Origin_Site.RegistrationComplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationConfirm</servlet-name>
        <servlet-class>Origin_Site.RegistrationConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_user</servlet-name>
        <servlet-class>Search_Keyword.Search_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_category</servlet-name>
        <servlet-class>Search_Category_Case.Search_category_mens</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyConfirm11</servlet-name>
        <servlet-class>Origin_Site.BuyConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemData</servlet-name>
        <servlet-class>DB_Manage.ItemData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemDataDAO</servlet-name>
        <servlet-class>DB_Manage.ItemDataDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemDataDTO</servlet-name>
        <servlet-class>DB_Manage.ItemDataDTO</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/Add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyComplete</servlet-name>
        <url-pattern>/BuyComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyConfirm</servlet-name>
        <url-pattern>/BuyConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Item</servlet-name>
        <url-pattern>/Item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyData</servlet-name>
        <url-pattern>/MyData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyUpdate</servlet-name>
        <url-pattern>/MyUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyDelete</servlet-name>
        <url-pattern>/MyDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyDeleteResult</servlet-name>
        <url-pattern>/MyDeleteResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyHistory</servlet-name>
        <url-pattern>/MyHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyUpdateResult</servlet-name>
        <url-pattern>/MyUpdateResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationComplete</servlet-name>
        <url-pattern>/RegistrationComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationConfirm</servlet-name>
        <url-pattern>/RegistrationConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_user</servlet-name>
        <url-pattern>/Search_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyConfirm11</servlet-name>
        <url-pattern>/BuyConfirm11</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemData</servlet-name>
        <url-pattern>/ItemData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemDataDAO</servlet-name>
        <url-pattern>/ItemDataDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemDataDTO</servlet-name>
        <url-pattern>/ItemDataDTO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_category_mens</servlet-name>
        <url-pattern>/Search_category_mens</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_category_ladys</servlet-name>
        <url-pattern>/Search_category_ladys</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_category_functionality</servlet-name>
        <url-pattern>/Search_category_functionality</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_category_water</servlet-name>
        <url-pattern>/Search_category_water</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_category_protect</servlet-name>
        <url-pattern>/Search_category_protect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_category_apparel</servlet-name>
        <url-pattern>/Search_category_apparel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_category_designer</servlet-name>
        <url-pattern>/Search_category_designer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_category_character</servlet-name>
        <url-pattern>/Search_category_character</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_category_koukoutaku</servlet-name>
        <url-pattern>/Search_category_koukoutaku</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_category_antigurea</servlet-name>
        <url-pattern>/Search_category_antigurea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_category_glass</servlet-name>
        <url-pattern>/Search_category_glass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_category_case_price</servlet-name>
        <url-pattern>/Search_category_case_price</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_category_sheet_price</servlet-name>
        <url-pattern>/Search_category_sheet_price</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Icon_detail</servlet-name>
        <url-pattern>/Icon_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Item_price</servlet-name>
        <url-pattern>/Item_price</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
